.Head {
  margin-top: 20px;

  .next-btn {
    border-radius: 50%;
  }

  @media (min-width: 576px) {
    .next-btn {
      border-radius: 25px;
      font-size: 20px;
    }

    .phat {
      font-size: 20px;
    }
  }
}

.Body {
  img {
    margin: 30px auto;
    border-radius: 20px;
  }

  h2 {
    font-weight: bold;
    margin: 20px auto;
  }

  p {
    margin: 20px auto;
    font-weight: normal !important;
    font-size: 20px;
  }

  .BTN {
    padding: 12px 30px;
    margin: 15px 0;
  }

  ul {
    font-size: 20px;

    li {
      margin: 5px 0;
      color: #2f6eb6;
      font-size: 22px;
      margin-top: 15px;

      a {
        font-weight: normal !important;
      }
    }
  }

  ul:not(.style) {
    padding: 5px;

    li {
      list-style: none;
    }
  }

  a {
    color: #2f6eb6;
    font-weight: 600;
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 1200px) {
    p {
      font-size: 20px;
    }
  }

  @media (min-width: 1500px) {
    p {
      font-size: 22px;
    }
  }
}

.w-fc {
  width: fit-content;
  max-width: 100%;
}
